<div class="container">

<h1 class="page-header">{{ title }}</h1>

<form  *ngIf="mapFormGroup" id="map-parameter" [formGroup]="mapFormGroup"  (ngSubmit)="refreshMap()">

	<div class="form-inline">
        <label for="Location1">Starting Location</label>
        <input type="text" formControlName="Location1Lat" keyboardType="number" id="StartLang" class="form-control" value="-37.822066" placeholder="lattitude" />
        <input type="text" formControlName="Location1Long" id="StartLong"  class="form-control"  value="144.963454" placeholder="longitude" />
    </div>

    <div class="way-point form-inline">
        <label for="Location2">Route 1</label>
        <input type="text" formControlName="Location2Lat" class="lat form-control"  value="-37.841936" placeholder="lattitude" />
        <input type="text" formControlName="Location2Long" class="long form-control" value="144.935747" placeholder="longitude" />
    </div>
    <div class="way-point form-inline">
        <label for="Location3">Route 2</label>
        <input type="text" formControlName="Location3Lat" class="lat form-control" value="-37.803082" placeholder="lattitude" />
        <input type="text" formControlName="Location3Long" class="long form-control" value="144.862707" placeholder="longitude" />
    </div>
    <div class="way-point form-inline">
        <label for="Location4">Route 3</label>
        <input type="text" formControlName="Location4Lat" class="lat form-control" value="-35.309049" placeholder="lattitude" />
        <input type="text" formControlName="Location4Long" class="long form-control" value="149.108155" placeholder="longitude" />
    </div>

    <div class="form-inline">
        <label for="Location5">End Location</label>
        <input type="text" formControlName="Location5Lat" id="EndLang" class="form-control" value="-37.807772" placeholder="lattitude" />
        <input type="text" formControlName="Location5Long" id="EndLong" class="form-control" value="145.059477" placeholder="longitude" />
    </div>
    <button type="submit"  id="Apply" class="btn btn-primary">Apply</button>

</form>


<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-direction [origin]="origin" [waypoints]="waypoints"  [destination]="destination">
  </agm-direction>
</agm-map>


  
  <hr />
        <footer>
            <p>Anup's Answer</p>
        </footer>
  </div>